html {
  background-color: #f2f2f2;
  font-size: 14px;
}
#app {
  position: relative;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
html.dark {
  background: #121212;
}

.van-tabbar--fixed {
  left: 0 !important;
  right: 0 !important;
}
